@font-face {

    font-family: 'Font1';

    src: local('Font1'),

    url(assets/Pribambas-Regular.ttf);

}
@font-face {

    font-family: 'Font2';

    src: local('Font2'),

    url(assets/actionj.ttf);

}

* {
    font-family: 'Font1';
    margin: 0;
    padding: 0;
}
body {
    display: grid;
    background: url("assets/Decoration/background.png");
    background-size: 100%;
    grid-template-areas:
        "H H H H H"
        "A M M M M"
        "A N N N N"
        "F F F F F";
    grid-auto-rows: minmax(50px, auto)
}
h1 {
    font-size: 4vw;
}

#checkbox {
    display: none;
}
header {
    border-bottom: solid saddlebrown 5px;
    padding-right: 50px;
    padding-left: 50px;
    background: #eaddc8;
    grid-area: H;
}

main {
    height: 100%;
    display: block;
    background: none;
    grid-area: M;
    background: #7569a6;
}

.logoImg {
    height: 80px;
    width: 80px;
}

.logoText {
    display: inline-block;
    font-family: 'Font2';
    font-size: 3.5vw;
    color: saddlebrown;
}

.headerBox {
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.searchInf {
    padding-left: 10px;
    font-size: 20px;
    overflow: hidden;
    border: solid 1px black;
    border-radius: 20px;
    height: 40px;
    width: 100%;
}

.navButtons {
    margin-right: 10px;
    padding: 5px;
    padding-bottom: 10px;
    font-size: 2.5vw;
    color: cornsilk;
    border-radius: 10px;
    text-decoration: none;
    border: 0;
    background: saddlebrown;

}
.mainInf {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
    font-size: 2.5vw;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    justify-content: center;
    color: #eaddc8;
}
.itemMain {
    margin: 10px;
}

footer {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    vertical-align: center;
    border-top: 5px solid saddlebrown;
    text-align: center;
    background: #eaddc8;
    grid-area: F;
    color: saddlebrown;
}

.ads {
    grid-area: A;
}
.adsSection {
    text-align: center;
    vertical-align: center;
    min-width: 150px;
    margin: 20px;
    min-height: 200px;
    font-size: 1.5vm;
    color: #eaddc8;
    background: #7569a6;
    border-radius: 20px;
    padding: 20px;
}
.news {
    grid-area: N;
}
.newsSection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    vertical-align: center;
    min-width: 200px;
    /*margin-right: 100px;*/
    min-height: 100%;
    font-size: 2vm;
    color: #eaddc8;
    background:#6417ac;
    padding: 20px;
}
.new {
    padding: 15px;
    border-right: 2px solid #eaddc8;
}

#frogImg {
    animation: frogGo 10s infinite;
    position: relative;
    left: 0px;
    width: 40%;
    height: auto;
}

.menu-icon {
    display: none;
}
nav {
    position: relative;
    top: 10px;
    background-color: transparent;
}
nav ul {
    max-height: 70px;
    padding: 15px 0;
    text-align: right;
}
nav ul li {
    display: inline-flex;
    padding-left: 20px;
}


@keyframes frogGo {
    10% {
        left: 10%;
        transform: rotate(20deg);
    }
    20% {
        left: 22%;
        transform: rotate(-10deg);
    }
    30% {
        left: 40%;
        transform: rotate(30deg);
    }
    40% {
        left: 51%;
        transform: rotate(0);
    }
    50% {
        left: 60%;
        transform: scale(-1,1);
    }
    60% {
        left: 52%;
        transform: rotate(-20deg) scale(-1,1);
    }
    70% {
        left: 40%;
        transform: rotate(10deg)  scale(-1,1);
    }
    80% {
        left: 24%;
        transform: rotate(-20deg) scale(-1,1);
    }
    90% {
        left: 12%;
        transform: rotate(10deg) scale(-1,1);
    }
}



.heroGallery {
    overflow: hidden;
    height: 540px;
    margin: 0;
    display: grid;
    grid-template-rows: 450px 90px;
    grid-template-columns: 1fr 25px 25px 25px 25px 25px 1fr;
    align-items: center;
    justify-items: center;
}

.heroesButtons {
    padding: 10px;
    font-size: 25px;
    margin-top: 40px;
    transition: 0.3s;
    color: #eaddc8;
    background: #7569a6;
    border-radius: 20px;
    border: #eaddc8 solid 4px;
}
.heroesButtons:hover {
    background: #eb6f4a;
}

div.carousel {
    grid-row: 1 / 2;
    grid-column: 1 / 8;
    width: 90vw;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 540px;
    --items: 5;
    --middle: 3;
    --position: 1;
    pointer-events: none;
}

div.item_1 {
    background-size: cover;
    position: absolute;
    width: 270px;
    height: 360px;
    background-color: coral;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.25s linear;
    transform: rotateY(calc(-10deg * var(--r)))
    translateX(calc(-270px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
}

div.item_1:nth-of-type(1) {
    --offset: 1;
    background-color: #90f1ef;
}
div.item_1:nth-of-type(2) {
    --offset: 2;
    background-color: #ff70a6;
}
div.item_1:nth-of-type(3) {
    --offset: 3;
    background-color: #ff9770;
}
div.item_1:nth-of-type(4) {
    --offset: 4;
    background-color: #ffd670;
}
div.item_1:nth-of-type(5) {
    --offset: 5;
    background-color: #e9ff70;
}

input:nth-of-type(1) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
input:nth-of-type(1):checked ~ div.carousel {
    --position: 1;
}

input:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}
input:nth-of-type(2):checked ~ div.carousel {
    --position: 2;
}

input:nth-of-type(3) {
    grid-column: 4 /5;
    grid-row: 2 / 3;
}
input:nth-of-type(3):checked ~ div.carousel {
    --position: 3;
}

input:nth-of-type(4) {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
}
input:nth-of-type(4):checked ~ div.carousel {
    --position: 4;
}

input:nth-of-type(5) {
    grid-column: 6 / 7;
    grid-row: 2 / 3;
}
input:nth-of-type(5):checked ~ div.carousel {
    --position: 5;
}
